# Stuff easy to break with updates
torch
pytorch-lightning
hydra-core==1.1.0.dev5
wandb
streamlit
transformers
seqeval
allennlp
allennlp-models

# Stable stuff usually backward compatible
dvc
python-dotenv
matplotlib
stqdm
pdoc3
sparqlwrapper

# dev
flake8
black
wheel
