# Stuff easy to break with updates
torch
pytorch-lightning
spacy
hydra-core==1.1.0.dev5
wandb
streamlit
transformers
seqeval

# Stable stuff usually backward compatible
dvc
python-dotenv
matplotlib
stqdm
pdoc3
sparqlwrapper
pytest

# dev
flake8
black
wheel
